@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-hanken-sans);
  --font-serif: var(--font-zt-bros);

  --color-skin: #ebe8d5;
  --color-green: #435f60;
}
.squircle {
  corner-shape: squircle;
}
/* .upper {
  @apply h-[200px] w-full fixed top-0  left-0 right-0 pointer-events-none;
  background: linear-gradient(
    to bottom,
    rgba(67, 95, 96, 0.32),
    rgba(67, 95, 96, 0)
  );
}
/* ------------ */
/* .lower {
  @apply w-full fixed bottom-0 top-0 -z-10 left-0 right-0 pointer-events-none;
  background: linear-gradient(
    to bottom,
    rgba(235, 232, 213, 1) 0%,
    rgba(67, 95, 96, 01) 100%
  );
} */

/* .lower:before {
  content: "";
  @apply absolute top-0 left-0 w-full h-[200px] pointer-events-none;
  backdrop-filter: blur(2px);
} */

h1 {
  @apply tracking-normal leading-none font-serif uppercase;
  font-size: clamp(32px, 16px + 5vw, 96px);
}

h2,
.btn {
  @apply tracking-[0.01em] leading-[120%] font-sans font-bold;
  font-size: clamp(14px, 13.5px + 0.1563vw, 16px);
}

p,
.label {
  @apply tracking-[0.01em] leading-[120%] font-sans;
  font-size: clamp(14px, 13.5px + 0.1563vw, 16px);
}
